* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* app css stylesheet */

body {
  padding-top: 20px;
}

/* 
 * http://www.colorzilla.com/gradient-editor/#3d4751+0,1a1d22+16,0c0d10+25,1f2022+37,7e878c+69,b2bdc3+91,afbac0+100;Custom
 * 
 */
html {
  background: #3d4751; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #3d4751 0%, #1a1d22 16%, #0c0d10 25%, #1f2022 37%, #7e878c 69%, #b2bdc3 91%, #afbac0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3d4751), color-stop(16%,#1a1d22), color-stop(25%,#0c0d10), color-stop(37%,#1f2022), color-stop(69%,#7e878c), color-stop(91%,#b2bdc3), color-stop(100%,#afbac0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #3d4751 0%,#1a1d22 16%,#0c0d10 25%,#1f2022 37%,#7e878c 69%,#b2bdc3 91%,#afbac0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #3d4751 0%,#1a1d22 16%,#0c0d10 25%,#1f2022 37%,#7e878c 69%,#b2bdc3 91%,#afbac0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #3d4751 0%,#1a1d22 16%,#0c0d10 25%,#1f2022 37%,#7e878c 69%,#b2bdc3 91%,#afbac0 100%); /* IE10+ */
  background: linear-gradient(45deg,  #3d4751 0%,#1a1d22 16%,#0c0d10 25%,#1f2022 37%,#7e878c 69%,#b2bdc3 91%,#afbac0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4751', endColorstr='#afbac0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  background-color: transparent;
}

.content {
  background-color: white;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px;
}

.nav-tabs > li > a {
  background-color: #eeeeee;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom-color: #0091dc;
  border-bottom-width: 3px;
}

.logo {
  position: absolute;
  right: 15px;
  top: 40px;
}