    <div class="container-fluid">
      <div class="span12 xs-invisible sm-invisible topSpacer">
      </div>
      <div class="span12">
        <img class="logo text-right" src="img/logo.jpg"></img>
      </div>
      <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="language in languages" ng-click="setLanguage(language)" role="languageselector" class="{{isLanguageSelected(language)}}" ><a href="#">{{language.name}}</a></li>
      </ul>
      <div class="content">
        <div ng-repeat="array in obj2" class="row row-xs-height">
          <div ng-repeat="product in array" class="col-lg-height col-md-height col-middle col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a href="#/products/{{product.id}}" class="thumb">
              <p class="productKachel">
	        <img src="{{product.img}}"
		  alt="{{product.name}}" class="img-responsive imgKachel">
	      </p> 
            </a>
          </div>
        </div>
      </div>
    </div>
    