<!doctype html>
<html lang="en" ng-app="workbenchDisplayApp">
<head>
  <meta charset="utf-8">
  <title>mockupKachel</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="ProductListCtrl">
  <div class="container-fluid">
    <div ng-repeat="array in obj2" class="row">
      <div ng-repeat="product in array" class="col-xs-12 col-sm-6 col-lg-4 ">
        <img src="{{product.img}}"
          alt="{{product.name}}" class="img-responsive center-block">
      </div>
    </div>
  </div>
  
</body>
</html>
